$touch: 1023px;
@mixin touch() {
  @media (max-width: $touch) {
    @content
  }
}
.content{
  line-height: 1.7;
  font-size: 18px;
  * {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  @include touch(){
    font-size: 16px;
  }
  h2{
    font-weight: bold;
    font-size: 28px;
    @include touch(){
      font-size: 24px;
    }
  }
  h3{
    font-weight: bold;
    font-size: 22px;
    @include touch(){
      font-size: 18px;
    }
  }
  a{
    @apply text-link;
  }
  li{
    list-style-type: disc;
    margin-left: 1.5rem;
  }
  img{
    border-radius: 6px;
  }
  img + figcaption{
    font-style: italic;
    margin-top: -0.5rem;
    display: block;
    text-align: center;
    font-size: 16px;
    @include touch(){
      font-size: 14px;
    }
  }
  blockquote{
    @apply border-l-4 border-secondary;
    padding-left: 1.25rem;
  }
  pre{
    border-radius: 6px;
    font-size: 16px;
    @include touch(){
      font-size: 14px;
    }
  }
  pre code{
    background-color: transparent;
    padding: 0;
  }
  code{
    background: #f3f4f4;
    border-radius: 4px;
    display: inline;
    font-size: 16px;
    padding: .3rem .4rem;
    @include touch(){
      font-size: 14px;
    }
  }
}